<section class="relative" id="about" style="scroll-margin-top: 4rem">
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="pt-12 md:pt-20">
            <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
                <h2 class="h2 mb-4 italic">
                    About MODX Tailwind
                </h2>
                <p>
                    A minimal template for MODX running with Tailwind CSS. Shown on MODXpo 2022 in Arnhem.
                </p>
            </div>
        </div>
    </div>
</section>
